body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    margin: 0 auto;
    width: 80%;
}

/* Set width on the form input elements since they're 100% wide by default */

.nopadding {
    margin: 0;
    padding: 0;
}

.input-xxs {
    border-radius: 3px;
    font-size: 10px;
    height: 25px;
    line-height: 1.5;
    padding: 2px 5px;
}

.min-width { width: 1px !important; }
